<link rel="stylesheet" href="customer-page.component.css"> <!--This is for css-->
    
    <h1 class="display-4">Welcome to the StockedMarket Customer Ordering Form</h1>

    <div>
        <app-item-container *ngFor="let item of (items | async)" [item]="item"></app-item-container>
    </div>


    <h3>What would you like to order?</h3>
    <div class="input-group mb-3">
        
        
        <input type="text" class="form-control" placeholder="Item" aria-label="item" aria-describedby="basic-addon1"
            [(ngModel)]="itemId">
        <br>
        <input type="text" class="form-control" placeholder="Quantity" aria-label="quantity"
            aria-describedby="basic-addon1" [(ngModel)]="itemQuantity">
        <br>
        </div>
    <br>
    <button type="button" class="btn btn-primary btn-sm" (click)="placeOrder()">Review and Submit</button>
    <div class="input-group mb-3">
    </div>
    <br>
    <!-- <button type="button" class="btn btn-primary btn-sm" (click)="login()">Login</button>
    <button type="button" class="btn btn-danger btn-sm" (click)="register()">Register</button> -->


    <div class="preview">
        <p>{{firstName}}</p>
        <br>
        <p>{{lastName}}</p>
        <br>
        <p>{{email}}</p>
        <br>
        <!--<p>{{streetNumber}}</p>
        <br>
        <p>{{address1}}</p>
        <br>-->
        <p>{{address}}</p>
        <br>
        <p>{{zipCode}}</p>
        <br>
        <!--<p>{{phoneNumber}}</p>
        <br>-->
        <p>{{itemId}}</p>
        <br>
        <p>{{itemQuantity}}</p>
        <!--<br>
        <p>{{item2}}</p>
        <br>
        <p>{{quantity2}}</p>
        <br>
        <p>{{item3}}</p>
        <br>
        <p>{{quantity3}}</p>
        <br>-->

    </div>








