html {

   background-color: #222; 
}
body {
color: #ffffff;
background-color: #222;
font-family:  Verdana, Geneva, Tahoma, sans-serif, serif;
text-align: center;
font-size: 100%;
padding: 2%, 2%;
margin-left: 5%;
}

.none {
    display:block;
    border-style:none;
    background-color: green;
}
h1 {
    padding: .4%;
}
footer {
    display:inline-block;
}

a {
    color: cyan;
    text-decoration: none;
}

a:visited {
    color: yellow;
}

nav {
    background-color: rgba(192, 192, 192, 0.26);
    display:flex;
    size: 20%;
    padding:2%;
    flex:20%;
}


div {
    margin: 4%;
    text-align: center;
    display:block;
    color: silver;
    background-color: #222;
    border-radius: 5%;
    border-style: none;
    border-width: 4px;
}
ul {
    list-style: none;
}
.flex{
    display:"flex";
    column-count:3;
    border-style:double;
}

.floatleft {
    float:left;
}

.floatright {
    float:right;
}
.button {
    color:silver;
    background-color: red;
    font-size:150%;
}

.register {
    display:none;
}

.employee {
    display:none;
}

.customer {
    display:none
}