
<table class="table">
    <thead>
      <tr>
      <th *ngFor = "let column of orderHeaders" scope="col">
        {{column}}
      <th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of (orders | async)">
        <td>
            {{order.transactionId}}
        </td>
        <td>
            {{order.itemName}}
        </td>
        <td>
            {{order.orderQty}}
        </td>
        <td>
            &euro;{{(order.itemPrice * order.orderQty).toFixed(2)}}
        </td>
        <td>
            {{order.invQuantity}}
        </td>
        <td>
            {{order.status}}
        </td>
        <td>
            {{order.customerName}}
        </td>
        <td>
            {{order.employeeName}}
        </td>
        <td>
            {{order.customerAddress}}
        </td>
      </tr>
    </tbody> 
  </table>

