    body {
    color: #F4F6F6;
    background-color: #17202A;
    font-family:sans-serif;
    font-size: 100%;
    padding: 4px, 3px;
    }
    
    div {
        background-color: #212128;
    }
    
    .register {
        display:none;
    }
    
    .employee {
        display:none;
    }
    
    .customer {
        display:none
    }
    