

<link rel="stylesheet" href="home-page.component.css"> <!--This is for css-->


<div>
    <h1>Welcome to the StockedMarket</h1>
    
<!--    <button (click)="empFunction()">Employee Login</button> 
    <button (click)="cusFunction()">Customer Login</button> 
    <button (click)="regFunction()">Register a new account</button>-->

</div>
    <!-- Customer Login Information Form -->
<div class="flex">
<h3>Login or Register for a new account to get started</h3>
    <div>
        <span class="input-group-text" id="email"></span>
        <input type="text" class="form-control" placeholder="E-Mail" aria-label="Email"
            aria-describedby="basic-addon1" style="width:200px"[(ngModel)]="email">
        
        
  
        <span class="input-group-text" id="password"></span>
        <input type="password" class="form-control" placeholder="Password" aria-label="Password"
            aria-describedby="basic-addon1" style="width:200px"[(ngModel)]="password">
            <div>
            <br>
               <button type="button" class="button" (click)="login()">Customer Login</button>
                <button type="button" class="button" (click)="employeeLogin()">Employee Login</button>
                <button  type="button" class="button" (click)='registrationForm()' >Register!</button>
    </div>
    </div>
    </div>
    <br>
   <!-- 
    <div class="flex">
    <h3>Employee</h3>
    <div>
        <span class="input-group-text" id="email"></span>
        <input type="text" class="form-control" placeholder="E-Mail" aria-label="Email"
            aria-describedby="basic-addon1" [(ngModel)]="email">
        
        
  
        <span class="input-group-text" id="password"></span>
        <input type="password" class="form-control" placeholder="Password" aria-label="Password"
            aria-describedby="basic-addon1" [(ngModel)]="password">
            <div>
            <br>
               <button type="button" class="button" (click)="employeeLogin()">Login</button>
    </div>
    </div>
    
    </div>-->

    
 
    <!--<button type="button" class="btn btn-danger btn-sm" (click)="register()">Register</button>-->
    
 

























<!-- Employee Login Information Form -->
    <!-- <form id="logine" (ngSubmit)="onSubmit2()">

        <div class="input-div">
            <label for="email">Email: </label>
            <input id="emaile" type="text" name="email" maxlength="50" required  />
        </div>
        <div class="input-div">
            <label for="password">Password: </label>
            <input id="passworde" type="password" name="password" minlength="8" required />
        </div>
        <input type="submit" value="Employee Login" />
    </form>

</div>
<div *ngIf="registerdiv">

    <form id="register" (ngSubmit)="onSubmit3()">
        <div class="form-group">
            <label for="firstName">First Name: </label>
            <input type="text" name="firstName" maxlength="50" required id="firstname">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name: </label>
            <input type="text" name="lastName" maxlength="50" required id="lastname">
        </div>
        <div class="form-group">
            <label for="address">Address: </label>
            <input type="text" name="address" maxlength="150" required id="address">
        </div>
        <div class="form-group">
            <label for="city">City: </label>
            <input type="text" name="city" maxlength="100" required id="city">
        </div>
        <div class="form-group">
            <label for="state">State: </label>
            <input type="text" name="state" maxlength="60" required id="state">
        </div>
        <div class="form-group">
            <label for="zipCode">ZIP Code: </label>
            <input type="string" name="zipCode" maxlength="60" required id="zipCode">
        </div>
        <div class="form-group">
            <label for="email">Email: </label>
            <input type="emailr" name="email" maxlength="340" required id="email">
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" name="password" minlength="8" required id="passwordr">
        </div>
        <input type="submit" value="Register" />
    </form>
</div> -->